body {
	background-color: #112D35;
	padding-top: 15px;
}
main {
	width: 900px;
	height: 500px;
	margin: auto;
	padding: 15px;
	border-radius: 8px;
	background-color: #045172;
	color: #84CED8;
	font-family: "Courier New";
}
h1 {
	font-size: 16px;
	font-family: Monaco;
	background-color: #034F54;
	color: #D7EFDE;
}
section{
	margin: 0px 5px;
}
p {
	
}
input {
	font-size: 16px;
	font-family: Monaco;
	background-color: #112D35;
	color: #066B96;
	border: 2px solid #066B96;
	border-radius: 2px;
}
.main_img {
	width: 350px;
	height: 400px;
	float: right;
}
.msg {
	color: #27AA59;
}
.err{
	color: #F76262;
}