body {
	background-color: #112D35;
	padding-top: 15px;
}
main {
	width: 900px;
	height: 500px;
	margin: auto;
	padding: 15px;
	border-radius: 8px;
	background-color: #045172;
	color: #84CED8;
	font-family: Verdana, Geneva, sans-serif;	
	font-size: 15px;
}
h1 {
	font-size: 16px;
	font-family: Monaco;
	background-color: #035A60;
	border-radius: 2px;
	padding-left: 5px;
	color: #D7EFDE;
}
section{
	margin: 0px 5px;
}
p {
	font-style: italic;
}
input {
	font-size: 16px;
	background-color: #112D35;
	color: #066B96;
	border: 2px solid #066B96;
	border-radius: 2px;
}
.input_btn{	
	font-family: Monaco;
	position: absolute;
	width: 110px;
	margin-left: 785px;
	top: 510px;
	float: right;
}
.input_final{
	width: 80px;
}
.main_img {
	float: right;
}
.no_main_img{
	padding: 15px 0px;
}
/*.msg {
	color: #27AA59;
	font-family: "Courier New", Courier, monospace;
}*/
.err{
	color: #F76262;
}

/*typing text animation*/
div{
	margin: 15px 0px;
}
.msg{
	color: #27AA59;
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 35em;
	animation: type 2s steps(60, end); 
}
.msg:nth-child(2){
animation: type 4s steps(60, end);
}
.msg:nth-child(3){
animation: type 6s steps(60, end);
}
.msg:nth-child(4){
animation: type 7s steps(60, end);
}
.msg:nth-child(5){
animation: type 8s steps(60, end);
}
.msg:nth-child(6){
animation: type 18s steps(60, end);
}
@keyframes type{ 
	from { width: 0; } 
} 
@keyframes type2{
	0%{width: 0;}
	50%{width: 0;}
	100%{ width: 100; } 
} 
@keyframes blink{
	to{opacity: .0;}
}