{% extends "temp_base.html" %}
{% block content %}
<section>
	<article>
		{% if img_class %}
		<p>{{text}}</p>
		<img class={{img_class}} src={{img_link}}>
		{% else %}
		<img class="main_img" src={{img_link}}>
		<p>{{text}}</p>
		{% endif %}
		<form action={{next_page}} method="post">
			{% for data in form_data %}
			<input type={{input_type}} name={{input_name}} placeholder={{input_placeholder}} value={{data.value}}>{{data.text}}<br>
			{% endfor %}
			{% if p_class %}
			<div>
				{% for text in text2 %}			
				<p class={{p_class}}>{{text}}</p>
				{% endfor %}
			</div>			
			{% else %}
			<p>{{text2}}</p>
			{% endif %}
			<p>{{text3}}</p>
			<p class="err">{{err_msg}}</p>
			<input class="input_btn" type="submit" value="Далее...">
		</form>
	</article>
</section>
{% endblock %}