<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1>Place / date, time</h1>
	</header>
	<main>
		<section>
			<article>
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolores facere officiis in asperiores quisquam ipsam dolore, consectetur. Similique sapiente, beatae dolor at expedita iusto dicta quibusdam! Labore, distinctio a!</span>
					<span>Ab qui temporibus ratione, vero architecto voluptas placeat explicabo reiciendis consectetur veritatis iste aliquid, voluptatum illo ad ex quos? Sint eius fugit eaque, dicta assumenda libero officiis, esse laudantium impedit.</span>
				</p>
			</article>
			<img src="images/owl.jpg" alt="alt">
		</section>
		<footer>
			<button>Далее...</button>
		</footer>
	</main>
</body>
</html>