{% extends "temp_base.html" %}
{% block content %}
<section>
	<article>
		<img class="main_img" src={{img_link}}>
		<p>{{text}}</p>
		<form action={{next_page}} method="post">
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<input type="text" name="numbers" placeholder="№ клетки"> положение
				<input type="checkbox" name="right_left" value="0"><img src="static/pic1.png">
				<input type="checkbox" name="right_left" value="1"><img src="static/pic2.png"><br><br>
			<p class="err">{{err_msg}}</p>
			<input class="input_btn" type="submit" value="Далее...">
		</form>
	</article>
</section>
{% endblock %}
