{% extends "temp_base.html" %}
{% block content %}
<section>
	<article>
		<img class="main_img" src={{img_link}}>
		<p>{{text}}</p>
		<form action={{next_page}} method="post">
			{% for data in form_data %}
			<input type={{input_type}} name={{input_name}} placeholder={{input_placeholder}} value={{data.value}}>{{data.text}}<br>
			{% endfor %}
			{% if p_class %}
			<p class={{p_class}}>{{text2}}</p>
			{% else %}
			<p>{{text2}}</p>
			{% endif %}
			<p>{{text3}}</p>
			<p class="err">{{err_msg}}</p>
			<input type="submit" value="Далее...">
		</form>
	</article>
</section>
{% endblock %}