<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1>Place / date, time</h1>
	</header>
	<main>
		<section>
			<article>
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolores facere officiis in asperiores quisquam ipsam dolore, consectetur. Similique sapiente, beatae dolor at expedita iusto dicta quibusdam! Labore, distinctio a!</span>
					<span>Ab qui temporibus ratione, vero architecto voluptas placeat explicabo reiciendis consectetur veritatis iste aliquid, voluptatum illo ad ex quos? Sint eius fugit eaque, dicta assumenda libero officiis, esse laudantium impedit.</span>
				</p>
				<form action="/3_2" method="post">
					<input type="radio" name="person" value=1>Джон, любитель Guinness&#39;a и телевизора, обычно спит прямо напротив него;<br>
					<input type="radio" name="person" value=2>Джинни, часто страдает бессоницей и любит смотреть в окно;<br>
					<input type="radio" name="person" value=3>Карл, плохо слышит и видит, но в полнолуние (было этой ночью), не спит и воет на луну;<br>
					<input type="radio" name="person" value=4>Нэнси, любит поспать, любопытна, лишь когда речь заходит о местных распродажах;<br>
					<input type="submit" value="Далее...">
				</form>
			</article>
			<img src="images/owl.jpg" alt="alt">
		</section>
	</main>
</body>
</html>